{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %} GSB {% endblock %}</title>
    <!-- Bulma -->
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}"/>
     <!-- FontAwesome -->
    <script type="text/javascript" defer src="{% static 'js/fa-all.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
</head>
<body>

<body class="has-navbar-fixed-top">

<!-- Navbar -->
{% include 'ppefrais/navbar.html' %}

</body>

{% block content %}

{% endblock %}

</body>
</html>