{% extends 'base.html' %}

{% block title %} Accueil - GSB {% endblock %}

{% block content %}

    <section class="hero is-light is-fullheight-with-navbar">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column" style="max-width: 376px;">
                        <div class="box has-text-centered">
                            <h2 class="subtitle">Bienvenue,
                                {% if user.get_full_name %}
                                    {{ user.get_full_name }}
                                {% else %}
                                    {{ user.username }}
                                {% endif %} !</h2>
                            <hr>
                            <p>Continuez votre visite sur notre<br>merveilleux site.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}