{% extends 'base.html' %}

{% block title %} Accueil - GSB {% endblock %}

{% block content %}

    <section class="hero is-light is-fullheight-with-navbar">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column" style="max-width: 376px;">
                        <h1 class="title">Bienvenue, {{ user.username }} !</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}