{% extends 'base.html' %}

{% block title %} Nouvelle fiche de frais {% endblock %}

{% block content %}

    <section class="hero is-light is-fullheight-with-navbar">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column" style="max-width: 564px;">
                        <div class="panel is-primary">
                            <div class="panel-heading">
                                <p>Nouvelle fiche de frais</p>
                            </div>
                        </div>i
                        <div class="panel-blok">
                            <form class="control" method="post">
                                {% csrf_token %}

                                {% load widget_tweaks %}

                                {% if form.non_field_errors %}
                                    <div class="notification is-danger is-light" role="alert">
                                        {% for error in form.non_field_errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                <div class="field">
                                    <div class="label">Etat</div>
                                    <div class="control">
                                        <div class="select">
                                            {% render_field form.etat class="select" name="etat" %}
                                        </div>
                                    </div>
                                </div>

                                {{ form.as_p }}
                                {{ field.errors }}
                                <div class="field">
                                    <div class="control">
                                        <button type="submit" class="button is-link is-fullwidth">
                                            Valider
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}