{% extends 'base.html' %}

{% block title %} Fiches de frais {% endblock %}

{% block content %}

    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column" style="max-width: 564px;">
                    <h1 class="title is-3">Veuillez choisir le mois de la fiche de frais à consulter...</h1>
                <div class="my-6">
                    <a class="is-size-4" href='{% url 'nouvelle-fiche-frais' %}'>
                        ... ou bien créer une nouvelle fiche
                        de frais
                    </a>
                </div>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Mois</th>
                            <th>Etat</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for elt in fiches_nomMois %}
                            <tr>
                                <th>
                                    <a href="{% url 'une-fiche' elt.0.mois|date:'Ym' %}">
                                        {{ elt.1 }} {{ elt.2 }}
                                    </a>
                                </th>
                                <th>
                                    {{ elt.0.get_etat_display }}
                                </th>
                            </tr>
                        {% empty %}
                            <div class="notification is-info" style="max-width: 260px;">
                                        <span class="icon-text">
                                            <span class="icon">
                                                <i class="fas fa-info-circle"></i>
                                            </span>
                                            <span>
                                                Aucune fiche de frais.
                                            </span>
                                        </span>
                            </div>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

{% endblock %}