{% extends 'base.html' %}

{% block title %} Fiches de frais {% endblock %}

{% block content %}

    <style>

    </style>

    <section class="hero is-light is-fullheight-with-navbar">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column" style="max-width: 720px;">
                        <div>
                            <h1 class="title is-3">Fiche de frais - {{ ficheFrais.mois|date:'F Y' }}</h1>
                            <div class="table-container">
                                <table class="table">
                                    <tr>
                                        <td>État</td>
                                        <td>{{ ficheFrais.get_etat_display }}</td>
                                    </tr>
                                    <tr>
                                        <td>Date de la dernière modification</td>
                                        <td>{{ ficheFrais.date_modif }}</td>
                                    </tr>
                                    <tr>
                                        <td>Nombre de justificatifs</td>
                                        <td>{{ ficheFrais.nb_justificatifs }}</td>
                                    </tr>
                                    <tr>
                                        <td>Montant validé</td>
                                        <td>{{ ficheFrais.montant_valide|floatformat:2 }} €</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <hr>

                        <div class="my-3">
                            <h1 class="title is-3">Frais forfaitaires</h1>
                            <div class="table-container">
                                <table class="table is-hoverable">
                                    <thead>
                                    <tr>
                                        <th>Libellé</th>
                                        <th>Quantité</th>
                                        <th>Montant unitaire</th>
                                        <th>Sous-total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for ligneFrais in lignesFraisForfait %}
                                        <tr>
                                            <td>{{ ligneFrais.get_frais_forfait_display }}</td>
                                            <td class="has-text-right">{{ ligneFrais.quantite }}</td>
                                            <td class="has-text-right">{{ ligneFrais.montant_unitaire|floatformat:2 }} €</td>
                                            <td class="has-text-right">{{ ligneFrais.total|floatformat:2 }} €</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td><strong>TOTAL</strong></td>
                                        <td></td>
                                        <td></td>
                                        <td class="has-text-right has-text-weight-bold">{{ ficheFrais.total_frais_forfaitaires|floatformat:2 }} €</td>
                                    </tr>
                                    </tfoot>

                                </table>
                            </div>
                        </div>

                        <hr>

                        <div class="my-3">
                            <h2 class="title is-3">Autres frais</h2>
                            <div class="table-container">
                                <table class="table is-hoverable">
                                    <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Libellé</th>
                                        <th>Montant</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for ligneFrais in lignesFraisHorsForfait %}
                                        <tr>
                                            <td>{{ ligneFrais.date }}</td>
                                            <td>{{ ligneFrais.libelle }}</td>
                                            <td class="has-text-right">{{ ligneFrais.montant|floatformat:2 }} €</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td><strong>TOTAL</strong></td>
                                        <td></td>
                                        <td class="has-text-right has-text-weight-bold">{{ ficheFrais.total_frais_horsforfait|floatformat:2 }} €</td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}