{% extends 'base.html' %}

{% block content %}
    <section class="hero is-light is-fullheight-with-navbar">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column" style="max-width: 524px;">
                        <div class="panel is-primary">
                            <div class="panel-heading">
                                <p>
                                    {% if edit %}
                                        Modification de la ligne de frais
                                    {% else %}
                                        Nouvelle ligne de frais hors forfait
                                    {% endif %}
                                </p>
                            </div>
                            <div class="panel-block py-4">
                                <form class="control" method="post" novalidate>
                                    {% csrf_token %}

                                    {% load widget_tweaks %}

                                    {% for error in form.non_field_errors %}
                                        <div class="notification is-danger is-light">
                                            <strong>{{ error }}</strong>
                                        </div>
                                    {% endfor %}

                                    <div class="field">
                                        <label class="label">Libellé</label>
                                        {% if form.libelle.errors %}
                                            <div class="control has-icons-right">
                                                {% render_field form.libelle class="input is-danger" placeholder="Libellé" %}
                                            </div>
                                        {% else %}
                                            <div class="control">
                                                {% render_field form.libelle class="input" placeholder="Libellé" %}
                                            </div>
                                        {% endif %}

                                        {% for error in form.libelle.errors %}
                                            <p class="help is-danger">{{ error }}</p>
                                        {% endfor %}
                                    </div>

                                    <div class="field">
                                        <label class="label">Date</label>

                                        {% if form.date.errors %}
                                            <div class="control has-icons-right">
                                                {% render_field form.date class="input is-danger" placeholder="Date" %}
                                            </div>
                                        {% else %}
                                            <div class="control">
                                                {% render_field form.date class="input" placeholder="Date" %}
                                            </div>
                                        {% endif %}

                                        {% for error in form.date.errors %}
                                            <p class="help is-danger">{{ error }}</p>
                                        {% endfor %}
                                    </div>

                                    <div class="field">
                                        <label class="label">Montant</label>

                                        {% if form.montant.errors %}
                                            <div class="control has-icons-right">
                                                {% render_field form.montant class="input is-danger" placeholder="Montant" %}
                                            </div>
                                        {% else %}
                                            <div class="control">
                                                {% render_field form.montant class="input" placeholder="Montant" %}
                                            </div>
                                        {% endif %}

                                        {% for error in form.montant.errors %}
                                            <p class="help is-danger">{{ error }}</p>
                                        {% endfor %}
                                    </div>

                                    <div class="columns is-multiline mt-6">
                                        <div class="column">
                                            <div class="field">
                                                <div class="control">
                                                    <button type="submit"
                                                            class="button is-fullwidth is-link">
                                                        Valider
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <div class="field">
                                                <div class="control">
                                                    <a href="{% url 'une-fiche' view.kwargs.mois %}"
                                                       class="button is-dark is-fullwidth">Annuler
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}