{% load static %}

<nav class="navbar is-transparent is-fixed-top" id="navbar">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'accueil' %}">
            <img src="{% static 'img/gsb-logo.png' %}" alt="GSB">
        </a>
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{% url 'accueil' %}">Accueil</a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="{% url 'accueil' %}">
                    Fiches de frais
                </a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="https://bulma.io/documentation/overview/start/">
                        Voir les fiches
                    </a>
                    <a class="navbar-item" href="https://bulma.io/documentation/overview/modifiers/">
                        Ajouter une fiche
                    </a>
                </div>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="field is-grouped">
                    {% if user.is_authenticated %}
                        <span class="navbar-item pr-4">
                            {% if user.get_full_name %}
                                {{ user.get_full_name }}
                            {% else %}
                                {{ user.username }}
                            {% endif %}
                            {% if user.statut %}
                                ({{ user.get_statut_display }})
                            {% endif %}
                        </span>
                        <p class="control">
                            <a class="button is-primary" href="{% url 'logout' %}">
                            <span class="icon">
                                <i class="fas fa-sign-out-alt"></i>
                            </span>
                                <span>Déconnexion</span>
                            </a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>